.notelist {
  max-width: 220px;
  border: 1px solid rgba(0, 0, 0, 0.0);
}

.notelist--item {
  min-width: 1000px;
}

.notelist--item__text {
  border: rgba(0, 0, 0, 0.0);
  font-size: 20px;
  resize: none;
  width: 100%;
  /* height: 100%; */
  box-sizing: border-box;
  resize: none;
  outline: none;


}