.notelist {
  max-width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.0);
}

.noteList__body {
  width: 100%;
}

.noteList-item {
  min-width: 1000px;
}

.noteList-item--header {
  border: rgba(241, 238, 238, .1);
  text-align: right;
  resize: none;
  color: rgba(241, 238, 238, 0);
  width: 100%;
  /* height: 100%; */
  box-sizing: border-box;
  resize: none;
  outline: none;
}

.noteList-item--header:hover {
  color: rgba(0, 0, 0, .4);

}

.noteList-item--text {
  border: rgba(0,
      0,
      0,
      0.0);
  font-size: 20px;
  resize: none;
  width: 100%;
  /* height: 100%; */
  box-sizing: border-box;
  resize: none;
  outline: none;
}

.note-details-container {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.note-details__aside {
  display: flex;
  flex-direction: column;
}

.noteList-stub--tags {
  text-align: right;
}

.markdown {
  flex-direction: column;
}